#playlist {
    list-style: none;
}

#playlist li a {
    text-decoration: none;
    color: white;
}

#playlist .current-song a {
    color: orange;
}

#musicPlayer {
    border-radius: 25px;
    background: steelblue;
    border-style: outset;
}